{% assign wide_images = page.wide_images %}

<div class="feature__wrapper">

  {% for w in wide_images %}

    {% capture wide_img_path %}{{ w.overlay_image | relative_url }}{% endcapture %}

    {% if w.overlay_filter contains "gradient" %}
      {% capture overlay_filter %}{{ w.overlay_filter }}{% endcapture %}
    {% elsif w.overlay_filter contains "rgba" %}
      {% capture overlay_filter %}{{ w.overlay_filter }}{% endcapture %}
      {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
    {% elsif w.overlay_filter %}
      {% capture overlay_filter %}rgba(0, 0, 0, {{ w.overlay_filter }}){% endcapture %}
      {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
    {% endif %}

    <div class="page__hero{% if w.overlay_color or w.overlay_image %}--overlay{% endif %}"
      style="{% if w.overlay_color %}background-color: {{ w.overlay_color | default: 'transparent' }};{% endif %} {% if w.overlay_image %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ wide_img_path }}');{% endif %} margin-bottom: auto;"
    >
      <div class="wrapper" style="display: flex; flex-direction: column; align-items: center;">
        <h1 id="page-title" class="page__title text-center" itemprop="headline">
          {{ w.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </h1>
        <p class="page__lead text-center">{{ w.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
          <p class="text-center">
            <a href="{{ w.url | relative_url }}" class="btn btn--light-outline btn--large">{{ w.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
      </div>
    </div>
  {% endfor %}
</div>
