{% if include.id %}
  {% assign feature_row = page[include.id] %}
{% else %}
  {% assign feature_row = page.feature_row %}
{% endif %}

<div class="wdie__wrapper">

  {% for w in feature_row %}

<div class="page__hero{% if w.overlay_color or w.overlay_image %}--overlay{% endif %}"
  style="{% if w.overlay_color %}background-color: {{ w.overlay_color | default: 'transparent' }};{% endif %} {% if w.overlay_image %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ w.overlay_image | relative_url }}');{% endif %}"
>
  </div>
  <h2>sss</h2>
    {% capture wide_img_path %}{{ w.overlay_image | relative_url }}{% endcapture %}

    {% if w.overlay_filter contains "gradient" %}
      {% capture overlay_filter %}{{ w.overlay_filter }}{% endcapture %}
    {% elsif w.overlay_filter contains "rgba" %}
      {% capture overlay_filter %}{{ w.overlay_filter }}{% endcapture %}
      {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
    {% elsif w.overlay_filter %}
      {% capture overlay_filter %}rgba(0, 0, 0, {{ w.overlay_filter }}){% endcapture %}
      {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
    {% endif %}
<div class="page__hero{% if w.overlay_color or w.overlay_image %}--overlay{% endif %}"
style="{% if w.overlay_color %}background-color: {{ w.overlay_color | default: 'transparent' }};{% endif %} {% if w.overlay_image %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ w.overlay_image | relative_url }}');{% endif %}"
>
</div>

    <div class="wide__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
        {% if w.image_path %}
          <div class="archive__item-teaser">
            <div class="page__hero{% if w.overlay_color or w.overlay_image %}--overlay{% endif %}"
              style="{% if w.overlay_color %}background-color: {{ w.overlay_color | default: 'transparent' }};{% endif %} {% if w.overlay_image %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ w.overlay_image | relative_url }}');{% endif %}"
            >
              <div class="archive__item-body">
                {% if w.title %}
                  <h2 class="archive__item-title">{{ w.title }}</h2>
                {% endif %}
      
                {% if w.excerpt %}
                  <div class="archive__item-excerpt">
                    {{ w.excerpt | markdownify }}
                  </div>
                {% endif %}
      
                {% if w.url %}
                  <p><a href="{{ w.url | relative_url }}" class="btn {{ w.btn_class }}">{{ w.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

</div>
